html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.centered {
  margin: auto;
  display: block;
}

#video {
  margin-top: 24px;
  margin-bottom: 24px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.button:hover,
.button:focus,
.button.focus {
  color: #333;
  text-decoration: none;
}

#prev {
  color: #fff;
  background-color: #f5af02;
  border-color: #dc9d01;
}
#prev:focus {
  color: #fff;
  background-color: #dc9d01;
  border-color: #c48c01;
}
#prev:hover {
  color: #fff;
  background-color: #dc9d01;
  border-color: #c48c01;
}

#next {
  color: #fff;
  background-color: #86b817;
  border-color: #78a514;
}
#next:focus {
  color: #fff;
  background-color: #78a514;
  border-color: #6b9312;
}
#next:hover {
  color: #fff;
  background-color: #78a514;
  border-color: #6b9312;
}