html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.centered {
  margin: auto;
  display: block;
}

#video {
  margin-top: 24px;
  margin-bottom: 24px;
}

.chevron-right:after {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
}

.chevron-left:before {
  font-family: 'Glyphicons Halflings';
  content: "\e079";
}
