!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/plugins/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet' }
    %link{ :href => '/my/css/style.css', :rel => 'stylesheet' }
    %link{ :rel => 'icon', :href => '/img/favicon.png' }
    %title Video Hub
  %body
    %script{ :src => '/plugins/jquery/jquery-1.12.0.min.js' }
    %script{ :src => '/plugins/bootstrap/js/bootstrap.min.js' }
    %div{:class => "container-fluid"}
      = yield