!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/css/bootstrap.css', :rel => 'stylesheet' }
    %link{ :href => '/css/bootstrap-responsive.css', :rel => 'stylesheet' }
    %title Video Hub
  %body
    %script{ :src => '//code.jquery.com/jquery.js' }
    %script{ :src => '/js/bootstrap.min.js' }
    %div{:class => "container-fluid"}
      = yield